<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand"><img src="/assets/brand.png" width="30" height="30" routerLink="/">
      ULT-Ecommerce
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
      aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <div class="btn-group">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ShopCat
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/shops">electronique</a></li>
            <li><a class="dropdown-item" routerLink="/books">book</a></li>
            <li><a class="dropdown-item" routerLink="parfum">parfum</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          
        </li>
      </ul>
      <div>
        
        <li class="nav-item">
          <div  class="collapse navbar-collapse" id="navbarsExample07">
<i class="fa fa-shopping-cart"></i>
<i class="fa fa-shopping-cart" style="font-size:22px;color:white;width: 40px" routerLink="/cart"></i>

            
            <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
            <button type="button" class="btn btn-warning" routerLink="/register">Register</button>
          </div>
        </li>
    </div>
    </div>
  </div>
</nav>