<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">shop list</h1>
          <p class="lead text-muted">welcom to UltEcommerce.</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let shop of shopList">
            <div class="card shadow-sm">
              <img [src]="shop.image" [alt]="shop.title">
  
              <div class="card-body">
                <h3>{{ shop.title }}</h3>
                <p class="card-text">{{ shop.description|slice:0:70 }} [...]</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                   
                    <button type="button"routerLink="/cart" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </div>
                  <small class="text-muted">{{ shop.price|currency:'EUR' }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>